# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# python2to3 backupfiles

*.bak

# Distrubution stuff

*.egg-info/
.installed.cfg
*.egg

# dynamically generated code
autogen.py

